    


 a {
 color: black;}

    
    #note {
        padding-left: 15px;
    }


    ol {
        width: 100px;
        margin: 0;
        padding-left: 30px;
        padding-top: 25px;
        padding-right: 10px;
        border-right: 1px solid gray;
    }

    #grid {
      display: grid;
      grid-template-columns: 160px 1fr;
    }


    #head_grid {
        display: grid;
        grid-template-columns: 160px 1fr;
      }

    #button {
        padding-top: 30px;
        margin-left : 10px;
        border-bottom: 1px solid gray;
    }

    #web {
        font-size: 45px;
        text-align: center;
        border-bottom: 1px solid gray;
        margin: 0;}
        

    body {
                margin: 0;
    }
   
            @media(max-width :600px){
                #grid {
                    display: block;
                }
                #grid ol {
                    border-right: none;
                }
                h2 {
                    border-bottom: none;
                }

            }

