.input-form {
    max-width: 680px;
    margin-top: 80px;
    padding:32px;
    background: #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
     box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);

     
    
}

.mb-3 input {
    width:100%;
    height: 50px;
    border-radius: 30px;
    margin-top: 10px;
    padding:0px 20px;
    border:1px solid lightgray;
    outline:none;
}

.btn_reg {
width: 100%;
height: 50px;
border: 0;
outline: none;
border-radius: 40px;
background: linear-gradient(to left, rgb(209,178,255), rgb(165,102,255));
color: white;
font-size: 1.2em;
letter-spacing: 2px;
}
.mb-3 #info__id{
position: relative;
}
#info__id button {
position: absolute;
width:90px;
height:40px;
padding:0 15px;
bottom:0;
right: 5px;
margin-bottom:5px;
border-radius: 40px;
border:none;
background: linear-gradient(to left, rgb(209,178,255), rgb(165,102,255));
color: white;
}

/*타이틀 css*/
.logo_container span {
    font-size: 30px;
}
.logo_container div {
display: flex;
justify-content: center;
align-items: center;
height: 100px;
border-bottom: 1px solid gray;
}

/*생년월일css*/
.member .field{
margin :5px 0; /*상하로 좀 띄워주기*/
}

.member input,.member select{
border: 1px solid #dadada;
padding: 15px;
width: 100%;
margin-bottom: 5px;
border-radius: 30px;
}

.field.birth div{ /*field 이면서 birth*/
display: flex;
gap:10px; /*간격 벌려줄때 공식처럼 사용핟나 */
}


.divider-text {
position: relative;
text-align: center;
margin-top: 15px;
margin-bottom: 15px;
color:black;
}
.divider-text span {
padding: 7px;
font-size: 12px;
position: relative;   
z-index: 2;
}
.divider-text:after {
content: "";
position: absolute;
width: 100%;
border-bottom: 1px solid #ddd;
top: 55%;
left: 0;
z-index: 1;
}

.login {
width:570px;
padding: 10px;
font-size :15px;
margin:30px auto;
text-align: center;
border:1px solid black;
background: white; 
}
.btn_login {
background: white;
border:1px solid gray;
font-size:15px;
width:80px;
font-weight: bold;
}