
/* top-bar CSS */
/* 메인페이지로 이동 버튼 */
#home_img {
    padding-right: 20px;
}



/* category page top-bar layout */
#layout_bar {
    display : grid;
    grid-template-columns: 1fr 400px 500px 45px 70px 150px 1fr;
    margin-top: 100px;
}



/* 카테고리 드롭다운 */
#category {
    width : 500px;
    display: show;
}

#category_menu {
    width : 500px;
}



/* search-bar CSS */
#search {
    width : 500px; 
    border-radius: 8px; 
    height: 40px; 
    background-color: #d4d4d4;
    border : 0; 
    position: absolute;
    display: none; 
}

#search_icon {
    padding-top: 3px;
    padding-left : 8px;
}



/* profile dropdown */
#profile {
    padding-top: 2px;
}

#profile_button {
    border: none;
    cursor: pointer;
    padding-bottom: 8px;
    background-color: transparent;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f5f5f5;
    border-radius: 8px;
    min-width: 100px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    z-index: 1; 
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block; 
}

.dropdown-content a:hover {
    border-radius: 8px;
    background-color: #f1f1f1
}
  
.dropdown:hover .dropdown-content {
    display: block; 
}



/* wirte button */
#write_btn {
    margin-top: 3px;
    background-color: #dbdbdb;
    border-radius: 8px;
    color : rgb(84, 117, 179);
    border : 1px solid rgb(84, 117, 179); 
}

#write_btn:hover {
    background-color: rgb(84, 117, 179);
    color : white; 
}





#pw{
    display : grid;
    grid-template-columns: 1fr 1fr; 
}


h6 {
    padding-right : 420px;
    text-align : center; 
}




#arrange{
    display : grid;
    grid-template-columns: 1fr 800px 1fr; 
}

select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding-top : 1px;
        padding-bottom: 1px;
        font-size: 14px;
        height: 25px; 
    }

input[type=password] {
    width: 100%;
    height: 50px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

input[type=text] {
    width: 100%;
    height: 50px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}



  











.pagination {
    justify-content: center; 
}

.pagination a {
    color: black;
    border-radius: 10px;
    border-color: white; 
}

.pagination a:hover {
    background-color: rgb(84, 117, 179);
    color : white; 
}





/* 게시판 layout */
#table {
    margin-left: auto;
    margin-right: auto; 
}