#note {
        padding-left: 15px;
    }

    h2 {
        font-size: 45px;
        text-align: center;
        border-bottom: 1px solid gray;
        margin: 0;
        color: blue;
    }

    ol {
        width: 100px;
        margin: 0;
        padding-left: 30px;
        padding-top: 25px;
        padding-right: 10px;
        border-right: 1px solid gray;
    }

    #grid {
      display: grid;
      grid-template-columns: 160px 1fr;
    }



    body {
                margin: 0;
            }
   
            @media(max-width :800px){
                #grid {
                    display: block;
                }
                #grid ol {
                    border-right: none;
                }
                h2 {
                    border-bottom: none;
                }

            }

